<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/style/styleIndex.css">
</head>
<body>
<h1>Hi brother</h1>
    <div id="ReminderTab">
        <!--<% if(Med) {%>-->
        <!--<ul>-->
            <!--<% for(let i in Med){ %>-->
              <!--<li> <%= Med[i].medName %></li>-->
            <!--<% } %>-->
        <!--</ul>-->
        <!--<% } %>-->
    </div>

<script src="/script/jquery.min.js"></script>
<script src = '/script/scriptIndex.js'></script>
</body>
</html>